body {
  background-color: #292929;
  /* color: #dfdfdf; */
  color: #999999;

  font-family: "Noto Sans Runic", Arial, Helvetica, sans-serif;
  font-size: 16px;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.page {
  text-align: center;
}
