.techstack {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.row {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.row img {
  width: 40px;
  max-width: 40px;
  height: 40px;
  max-height: 40px;
}
