.hero {
  width: 100%;
  /* border: 1px solid #000; */
}

.container {
  position: relative;
  margin: auto;

  width: 100%;
  max-width: 536px;
  min-width: 320px;
  aspect-ratio: 536 / 146;
}

.canvas,
.backupimage {
  border: 1px solid #000;
  position: absolute;
  top: 0;
  left: 0;
  inset: 0;
}
