.container {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.box {
  opacity: 80%;

  width: 30px;
  max-width: 30px;
  height: 30px;
  max-height: 30px;

  filter: saturate(0) contrast(0);
}

.box:hover {
  filter: unset;
}
