.container {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.box {
  will-change: opacity;
  opacity: 90%;
  filter: contrast(0.9);
  transition: 200ms;

  width: 30px;
  max-width: 30px;
  height: 30px;
  max-height: 30px;
}

.box:hover {
  opacity: 100%;
  filter: unset;
  transition: 200ms;
}
